<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestfulApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4EB001C1F8287CD00F19435</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4EB00301F8287CD00F19435</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4EB003B1F8287CD00F19435</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
